.orderlist-page {
  width: 100%;
  background: #f1f1f1;
  .orderlist-box {
    padding: 30px;
    .order-list {
      display: flex;
      background: #fff;
      padding: 20px;
      margin-bottom: 30px;
      border-radius: 10px;
      position: relative;
      .list-image {
        width: 80px;
        height: 80px;
        margin-right: 20px;
        .image {
          width: 80px;
          height: 80px;
        }
      }
      .list-content {
        height: 80px;
        .name {
          font-size: 30px;
          color: #000;
          line-height: 1;
          margin-bottom: 16px;
          margin-top: 8px;
        }
        .content {
          font-size: 26px;
          line-height: 1;
          .price {
            color: #fc4747;
            margin-right: 10px;
          }
          .area {
            color: #333;
          }
        }
      }
      .list-icon-right {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 50%;
        margin-top: -16px;
        right: 40px;
      }
    }
  }
  .home__loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;

    .home__loading-txt {
      color: #000;
      font-size: 24px;
    }
  }
}