.login-page {
  width: 100%;
  height: 100%;
  font-size: 28px;
  .space {
    height: 100px;
  }
  .logo-image {
    width: 206px;
    height: 71px;
    display: block;
    margin: 0 auto;
  }
  .login-title {
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
    color: #000;
    font-size: 40px;
  }
  .login-form {
    width: 80%;
    margin: 80px auto 60px;
    .form-item {
      width: 100%;
      display: flex;
      height: 80px;
      margin-bottom: 30px;
      .input-width {
        flex: 1;
        height: 80px;
        .input-el {
          padding-left: 20px;
          height: 80px;
          line-height: 78px;
          border: 1px solid #ccc;
          border-radius: 10px;
          box-sizing: border-box;
        }
      }
      .code-btn {
        width: 180px;
        height: 80px;
        margin-left: 20px;
        background: #FC4747;
        border-radius: 10px;
        line-height: 80px;
        text-align: center;
        color: #fff;
        font-size: 28px;
        opacity: 0.5;
        &.code-btn-disable {
          opacity: 1;
        }
      }
    }
  }
  .submit-btn {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    background: #FC4747;
    border-radius: 10px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 28px;
  }
}
