.city-page {
  font-size: 28px;
  background: #fff;
}
.area-box {
  padding: 40px 0 10px;
  background: #fff;
  border-bottom: 1px solid #c1c1c1;
  .area-title {
    padding: 0 30px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 28px;
    .area-title-left {
      height: 80px;
      line-height: 80px;
    }
    .area-title-right {
      color: #e42e2e;
      height: 80px;
      display: flex;
      align-items: center;
      .right-txt {
        display: block;
        height: 80px;
        line-height: 80px;
      }
      .right-icon {
        width: 40px;
        height: 40px;
        transform: rotate(0);
        transition: all 0.2s;
      }
      &.title-right-active {
        .right-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
  .area-ul {
    padding: 0 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    .area-li {
      height: 60px;
      line-height: 60px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 10px;
      width: 210px;
      margin-bottom: 20px;
      text-align: center;
      box-sizing: border-box;
      margin-right: 20px;
      &.area-li-active {
        background: rgb(230, 230, 230);
      }
    }
  }
}
.citys-header {
  padding: 40px 30px;
  background: #F7F7F7;
  .citys-other {
    margin-bottom: 30px;
    .name {
      margin-bottom: 20px;
    }
    .city-ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .city-li {
        height: 60px;
        line-height: 60px;
        border: 1px solid #ccc;
        background: #fff;
        border-radius: 10px;
        width: 210px;
        margin-bottom: 20px;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        .ad-icon {
          width: 32px;
          height: 32px;
          margin-right: 3px;
        }
      }
    }
    &.hot-citys {
      margin-bottom: 0;
    }
  }
}
@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/indexes.scss";
@import "~taro-ui/dist/style/components/list.scss";
.at-indexes__menu-item {
  color: #e42e2e;
}