.activity-page {
  width: 100%;
  font-size: 24px;
  .activity-page-content {
    width: 100%;
    .content-wrapper {
      width: 100%;
      background: #fff;
      padding: 30px;
      .activity-item {
        width: 100%;
        .activity-item-img {
          width: 690px;
          margin: 0 auto 20px;
          height: 340px;
          border-radius: 10px;
        }
      }
    }
  }
}
