.date-page {
  position: relative;
  overflow: hidden;
  .content-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
  .date-title-box {
    padding: 30px 0;
    height: 132px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    .date-title {
      text-align: center;
      .title-year {
        font-size: 24px;
      }
    }
  }
  .date-content {
    padding: 30px 0 0;
    .week-box {
      display: flex;
      padding: 0 60px;
      margin-bottom: 40px;
      .week-li {
        width: 90px;
        height: 40px;
        font-size: 28px;
        text-align: center;
      }
    }
    .date-ul-box {
      .date-ul {
        padding: 0 60px;
        .date-ul-item {
          display: flex;
          flex-wrap: wrap;
          .date-li {
            width: 90px;
            text-align: center;
            margin-bottom: 40px;
            .date-li-solar {
              font-size: 24px;
              line-height: 24px;
              margin-bottom: 16px;
            }
            .date-li-lunar {
              font-size: 24px;
              line-height: 24px;
              margin-bottom: 16px;
            }
            .date-li-ji {
              margin: 0 auto;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              text-align: center;
              line-height: 24px;
              font-size: 22px;
              background: red;
              color: #fff;
              display: none;
            }
            &.date-li-disabled {
              .date-li-solar {
                color: #ccc;
              }
              .date-li-lunar {
                color: #ccc;
              }
            }
            &.date-li-jq {
              .date-li-lunar {
                color: red;
              }
              .date-li-ji {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
.layer-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  display: flex;
  visibility: hidden;
  transition: visibility 200ms ease-in;
  z-index: 2;
  &.layer-show {
    visibility: visible;
  }
  .layer-mask {
    flex: 1;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 150ms ease-in;
    opacity: 0;
    &.layer-mask-active {
      opacity: 1;
    }
  }
  .layer-main {
    background: #fff;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transform: translate3d(0,100%,0);
    transition: transform 200ms ease-in;
    position: relative;
    &.layer-main-active {
      transform: translate3d(0,0,0);
    }
    .close-icon {
      position: absolute;
      width: 60px;
      height: 60px;
      right: 30px;
      top: 20px;
    }
  }

}
.layer-info-wrapper {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  // transform: translate3d(0,100%,0);
  transition: transform 200ms ease-in;
  position: relative;
  border-top: 1px solid #333;
  z-index: 2;
  background: red;
  &.layer-info-active {
    // transform: translate3d(0,0,0);
  }
  .close-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 30px;
    top: 20px;
  }
  .info-header {
    padding: 40px 30px 0;
    height: 40px;
    line-height: 40px;
    color: #000;
    font-size: 32px;
    margin-bottom: 30px;
  }
  .info-content {
    .info-content-li {
      display: flex;
      padding: 0 30px;
      margin-bottom: 20px;
      .content-li-left {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        line-height: 80px;
        font-size: 28px;
        color: #fff;
        background: red;
        margin-right: 20px;
        flex-shrink: 0;
      }
      .content-li-right {
        line-height: 40px;
        font-size: 28px;
        font-size: #333;
      }
    }
  }
}