.date-page {
  position: relative;
  .content-wrapper {
    .date-title-box {
      padding: 20px 0;
      height: 112px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
      .date-title {
        height: 72px;
        text-align: center;
        font-size: 40px;
        line-height: 72px;
        .arrow-down {
          width: 32px;
          height: 32px;
        }
      }
      .title-year {
        text-align: center;
        font-size: 24px;
      }
    }
    .date-content {
      padding: 30px 0 0;
      .week-box {
        display: flex;
        padding: 0 60px;
        margin-bottom: 40px;
        .week-li {
          width: 90px;
          height: 40px;
          font-size: 28px;
          text-align: center;
        }
      }
      .date-ul-box {
        .date-ul {
          padding: 0 60px;
          .date-ul-item {
            display: flex;
            flex-wrap: wrap;
            .date-li {
              width: 90px;
              text-align: center;
              margin-bottom: 30px;
              .date-li-solar {
                width: 50px;
                height: 50px;
                font-size: 28px;
                line-height: 50px;
                font-weight: 600;
                border-radius: 50%;
                color: #000;
                margin: 0 auto 10px;
                text-align: center;
              }
              .date-li-lunar {
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 16px;
              }
              .date-li-ji {
                margin: 0 auto;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
                font-size: 20px;
                background: red;
                color: #fff;
                display: none;
              }
              &.date-li-disabled {
                .date-li-solar {
                  color: #ccc;
                }
                .date-li-lunar {
                  color: #ccc;
                }
              }
              &.date-li-jq {
                .date-li-lunar {
                  color: red;
                }
                .date-li-ji {
                  display: block;
                }
              }
              &.date-li-selected {
                .date-li-solar {
                  background: red;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  .layer-info-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 480px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eeeeee;
    transition: transform 200ms ease-in;
    transform: translate3d(0,100%,0);
    &.layer-info-active {
      transform: translate3d(0,0,0);
    }
    .close-icon {
      position: absolute;
      width: 50px;
      height: 50px;
      right: 30px;
      top: 20px;
    }
    .info-header {
      padding: 80px 30px 0;
      height: 40px;
      line-height: 40px;
      color: #000;
      font-size: 30px;
      margin-bottom: 40px;
      text-align: center;
    }
    .info-content {
      .info-content-li {
        display: flex;
        padding: 0 30px;
        margin-bottom: 30px;
        align-items: center;
        .content-li-left {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          text-align: center;
          line-height: 80px;
          font-size: 28px;
          color: #fff;
          background: red;
          margin-right: 20px;
          flex-shrink: 0;
          &.content-li-ji{
            background: #FFCC00;
          }
        }
        .content-li-right {
          line-height: 40px;
          font-size: 28px;
          color: #333;
        }
      }
    }
  }
}
