.page-nodata {
  width: 300px;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
  .nodata-icon {
    width: 135px;
    height: 128px;
    margin-bottom: 20px;
  }
  .nodata-text {
    text-align: center;
    font-size: 24px;
    line-height: 1;
    color: #333;
  }
}