.jsq-page {
  width: 100%;
  font-size: 24px;
  background: #f1f1f1;
  .content-wrapper {
    .jsq-page-wrapper {
      width: 100%;
      position: relative;
      .bg-image {
        width: 750px;
        height: 402px;
        border-radius: 0 0 50px 50px;
      }
      .jsq-page-content {
        width: 100%;
        position: absolute;
        left: 0;
        top: 320px;
        padding: 0 24px;
        background: transparent;
        box-sizing: border-box;
        z-index: 1;
        .compute-box {
          padding: 30px;
          border-radius: 16px;
          background: #fff;
          box-shadow: 0px 6px 40px 0px rgba(109,114,120,0.1);
          .title {
            font-size: 32px;
            font-weight: 700;
            color: #333;
            line-height: 30px;
            margin-bottom: 40px;
          }
          .input-box {
            height: 80px;
            .input-item {
              height: 80px;
              line-height: 80px;
              text-align: center;
              border-bottom: 1px solid #f2f2f2;
              color: #333;
              font-size: 28px;
            }
            .input-placeholder {
              color: #aaa;
            }
          }
          .compute-btn {
            width: 80%;
            height: 80px;
            line-height: 80px;
            text-align: center;
            border-radius: 80px;
            color: #fff;
            font-size: 30px;
            background: red;
            margin: 30px auto 20px;
            &.compute-btn-cancle {
              background: #ffa700;
            }
          }
          .compute-tips {
            font-size: 24px;
            color: #aaa;
            text-align: center;
            line-height: 24px;
          }
        }
        .compute-table {
          margin-top: 30px;
          padding: 30px;
          border-radius: 16px;
          background: #fff;
          box-shadow: 0px 6px 40px 0px rgba(109,114,120,0.1);
          .compute-table-title {
            font-size: 30px;
            height: 30px;
            line-height: 30px;
            margin-bottom: 40px;
          }
          .compute-table-item {
            height: 80px;
            display: flex;
            border-bottom: 1px solid #f2f2f2;
            margin-bottom: 20px;
            .item-image {
              width: 60px;
              height: 60px;
              margin-right: 26px;
            }
            .item-content {
              .name-box {
                display: flex;
                height: 32px;
                align-items: center;
                font-size: 28px;
                margin-bottom: 6px;
                .name {
                  height: 32px;
                  line-height: 32px;
                  margin-right: 8px;
                }
                .name-image {
                  width: 32px;
                  height: 32px;
                }
              }
              .price-box {
                display: flex;
                align-items: center;
                font-size: 26px;
                height: 28px;
                color: red;
                .price-icon {
                  height: 28px;
                  line-height: 28px;
                }
                .price-input {
                  max-width: 100px;
                  height: 28px;
                  line-height: 28px;
                  font-size: 24px;
                  overflow: hidden;
                  margin-right: 8px;
                }
                .edit-icon {
                  width: 28px;
                  height: 28px;
                }
              }
            }
          }
        }
      }
      .order-btn-box {
        padding: 30px 30px  80px;
        .order-btn {
          width: 80%;
          height: 80px;
          line-height: 80px;
          text-align: center;
          border-radius: 80px;
          color: #fff;
          font-size: 30px;
          background: red;
          margin: 30px auto 20px;
        }
      }
    }
  }

}
