.home-banner {
  padding: 20px 0;
  height: 340px;
  background: #fff;
  overflow: hidden;
  .home-banner__swiper {
    height: 340px;
    .home-banner__swiper-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .home-banner__swiper-item-img {
        width: 690px;
        height: 340px;
        border-radius: 8px;
        overflow: hidden;
      }
    }
  }
}