.card-page {
  .card-content {
    background: #f2f2f2;
    .card-ul-box {
      padding: 30px;
      .card-ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .card-li {
          width: 330px;
          flex-shrink: 0;
          margin-right: 30px;
          margin-bottom: 30px;
          .card-li-image {
            display: block;
            width: 330px;
            height: 400px;
          }
          &:nth-child(2n) {
            margin-right: 0;
          }
          .card-li-operation {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .card-li-btn {
              width: 120px;
              height: 60px;
              line-height: 60px;
              text-align: center;
              margin: 0 20px;
              border-radius: 60px;
              &.card-li-cat {
                border: 1px solid #e93b3d;
                line-height: 58px;
                color: #e93b3d;
              }
              &.card-li-edit {
                background: #e93b3d;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
