.order-page {
  font-size: 28px;
  .title {
    width: 100%;
    color: #000;
    font-weight: 700;
    font-size: 40px;
    padding: 100px 0;
    text-align: center;
    border-bottom: 1px solid #f6f6f6;
  }
  .form-items {
    width: 100%;
    display: flex;
    height: 80px;
    padding-right: 30px;
    border-bottom: 1px solid #f6f6f6;
    margin-left: 30px;
    box-sizing: border-box;
    .label {
      width: 140px;
      height: 80px;
      line-height: 80px;
      margin-right: 20px;
      color: #000;
      font-size: 24px;
      font-weight: 700;
      text-align: right;
    }
    .form-item {
      flex: 1;
      height: 80px;
      .picker {
        width: 100%;
        line-height: 80px;
        height: 80px;
        padding-left: 30px;
      }
    }
  }
  .submit-btn {
    width: 80%;
    height: 80px;
    margin: 60px auto 0;
    background: #FC4747;
    border-radius: 10px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 28px;
  }
}
@import "~taro-ui/dist/style/components/icon.scss";
