.hotel-page {
  position: relative;
  width: 100%;
  .hotel-page-content {
    width: 100%;
    padding-top: 80px;
    background: #fff;
    .search-result-box {
      width: 100%;
      height: 80px;
      .search-title-ul {
        padding: 0 30px;
        display: flex;
        height: 80px;
        width: 100%;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        box-sizing: border-box;
        .search-title {
          display: flex;
          flex: 1;
          height: 78px;
          justify-content: center;
          align-items: center;
          position: relative;
          font-size: 28px;
          .title-txt {
            height: 78px;
            line-height: 78px;
            margin-right: 10px;
          }
          .title-icon {
            height: 30px;
            line-height: 30px;
            transition: all 0.3s
          }
          &::after {
            content: '';
            width: 2px;
            height: 40px;
            background: #ebebeb;
            position: absolute;
            right: 0;
            top: 19px;
          }
          &:last-child {
            &::after {
              content: '';
              width: 0;
              height: 0;
            }
          }
          &.search-title-acitve {
            color: #e93b3d;
            .title-icon {
              transform: rotate(180deg)
            }
          }
        }
      }
      .search-content-ul {
        display: block;
        position: fixed;
        top: 161px;
        left: 0;
        width: 100%;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.2);
        .search-content-sort {
          width: 100%;
          background: #fff;
          font-size: 24px;
          .sort-li {
            width: 100%;
            padding: 0 70px;
            height: 60px;
            line-height: 59px;
            border-bottom: 1px solid #ebebeb;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            .sort-txt {
              margin-right: 20px;
            }
            .sort-txt-icon {
              display: none;
            }
            &.sort-li-acitve {
              color: #e93b3d;
              .sort-txt-icon {
                display: block;
              }
            }
          }
        }
        .search-content-other {
          width: 100%;
          background: #fff;
          padding: 30px 0 70px;
          height: 650px;
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          .content-other-box {
            width: 100%;
            height: 550px;
            padding-bottom: 70px;
            overflow-y: auto;
          }
          .other-item-ul {
            width: 100%;
            padding: 0 30px;
            box-sizing: border-box;
            .other-item-title {
              width: 100%;
              font-size: 26px;
              line-height: 1;
              margin-bottom: 20px;
              font-weight: 600;
            }
            .other-item-li {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              .other-item {
                width: 210px;
                height: 60px;
                line-height: 60px;
                margin-right: 30px;
                margin-bottom: 20px;
                font-size: 24px;
                text-align: center;
                border: 1px solid #ebebeb;
                box-sizing: border-box;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &:nth-child(3n) {
                  margin-right: 0;
                }
                &.other-item-active {
                  background: #e93b3d;
                  border-color: #e93b3d;
                  color: #fff;
                }
              }
            }
          }
          .operation-btns {
            width: 100%;
            height: 70px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: #ebebeb;
            display: flex;
            font-size: 24px;
            justify-content: center;
            align-items: center;
            .cancle-btn {
              width: 160px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              background: #fff;
              border-radius: 10px;
              color: #999;
              margin-right: 30px;
            }
            .sure-btn {
              width: 500px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              background: #e93b3d;
              border-radius: 10px;
              color: #fff;
            }
          }
        }
      }
    }
    .content-wrapper {
      width: 100%;
      .content-item-ul {
         width: 100%;
        .content-item-li {
          width: 100%;
          display: flex;
          flex-direction: row;
          font-size: 24px;
          color: #333;
          padding: 30px;
          border-bottom: 1px solid #ebebeb;
          box-sizing: border-box;
          overflow: hidden;
          .content-item-image {
            width: 182px;
            height: 140px;
            margin-right: 20px;
            .item-image {
              width: 182px;
              height: 140px;
            }
          }
          .content-item {
            flex: 1;
            .name {
              font-size: 30px;
              font-weight: 600;
              color: #000;
              line-height: 1;
              margin-bottom: 16px;
            }
            .price {
              color: #e93b3d;
              font-size: 24px;
              font-weight: 600;
              line-height: 1;
              margin-bottom: 16px;
              .txt {
                font-size: 24px;
                margin-left: 4px;
              }
            }
            .table {
              font-weight: 400;
              color: #cfcfcf;
              line-height: 1;
              font-size: 22px;
              margin-bottom: 16px;
              .line {
                margin: 0 10px;
              }
            }
            .lable {
              width: 360px;
              font-size: 20px;
              line-height: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #999;
            }
          }
          .content-item-icon {
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon-box {
              width: 80px;
              text-align: center;
              .phone-icon {
                width: 64px;
                height: 64px;
              }
              .btn {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .home__loading {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 80px;
      .home__loading-txt {
        color: #000;
        font-size: 24px;
      }
    }
  }
}
@import "~taro-ui/dist/style/components/icon.scss";