.page {
  position: relative;
  width: 100%;
  font-size: 28px;
  .page-content {
    width: 100%;
    padding: 80px 0 30px;
    background: #fff;
    box-sizing: border-box;
    .space-row {
      width: 100%;
      height: 40px;
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
      background: #fefcfd;
    }
    .home-grids {
     padding-top: 10px;
      .grids-ul {
        width: 100%;
        height: 180px;
        display: flex;
        .grids-li {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-right: 1px solid #f0f0f0;
          &:last-child {
            border-right: none;
          }
          .grids-li-image {
            width: 80px;
            height: 80px;
          }
          .grids-li-text {
            margin-top: 16px;
            padding: 0 30px;
            height: 48px;
            line-height: 48px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            font-size: 28px;
          }
        }
      }
    }
    .content-title {
      width: 100%;
      text-align: center;
      padding: 30px 0;
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
      background: #fefcfd;
      .title-h1 {
        font-size: 40px;
        color: #000;
        font-weight: 700;
        margin-bottom: 8px;
      }
      .title-h2 {
        font-size: 26px;
        color: #666;
      }
    }
    .content-title-small {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 30px;
      background: #fff;
      height: 108px;
      box-sizing: border-box;
      .title-left {
        font-weight: 700;
        color: #000;
        font-size: 36px;
        height: 48px;
        display: flex;
        align-items: center;
        border-left: 5px solid #e93b3d;
        padding-left: 10px;
      }
      .title-right {
        font-size: 28px;
        color: #878787;
        height: 48px;
        display: flex;
        align-items: center;
        .title-icon {
          margin-top: 4px;
        }
      }
    }
    .more-btn {
      width: 60%;
      height: 80px;
      margin: 20px auto 40px;
      background: #e93b3d;
      color: #fff;
      text-align: center;
      line-height: 80px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .more-btn-txt {
        margin-right: 10px;
      }
      .more-btn-icon {
        margin-top: 6px;
      }
    }
    .door-part {
      padding: 0 30px;
      box-sizing: border-box;
      .door-list {
        width: 100%;
        box-sizing: border-box;
        font-size: 14px;
        padding: 30px 0;
        .list-title {
          display: flex;
          margin-bottom: 20px;
          .title-label {
            font-size: 32px;
            color: #333;
            font-weight: 700;
            height: 40px;
            line-height: 40px;
          }
          .title-name {
            font-size: 24px;
            font-weight: 500;
            height: 24px;
            height: 40px;
            line-height: 40px;
            margin-left: 20px;
            padding: 0 10px;
            background: #e93b3d;
            color: #fff;
            border-radius: 10px;
          }
        }
        .list-image {
          width: 100%;
          height: 345px;
        }
        .list-contents {
          width: 100%;
          margin-top: 20px;
          .list-content {
            width: 100%;
            display: flex;
            font-size: 24px;
            margin-bottom: 10px;
            color: #666;
            .con-label {
              width: 130px;
              line-height: 32px;
            }
            .con-name {
              width: 560px;
              line-height: 32px;
            }
          }
        }
      }
    }
    .case-part {}
    .standard-part {
      width: 100%;
      padding: 20px 30px 0;
      box-sizing: border-box;
      .list-ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .list-li {
          width: 335px;
          margin-right: 20px;
          margin-bottom: 20px;
          &:nth-child(even) {
            margin-right: 0;
          }
          .list-li-image {
            width: 335px;
            height: 167px;
            overflow: hidden;
          }
          .name {
            font-weight: 700;
            font-size: 30px;
            color: #333;
            margin-bottom: 12px;
            margin-top: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .table {
            width: 100%;
            color: #999;
            font-size: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 12px;
            .line {
              margin: 0 6px;
            }
          }
          .des {
            width: 100%;
            color: #999;
            font-size: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 12px;
            .des-txt {
              margin-right: 10px;
            }
          }
          .price {
            color: #e93b3d;
            font-size: 32px;
            .price-txt {
              font-size: 24px;
              margin-left: 4px;
            }
          }
        }
      }
    }
    .space-pink {
      width: 100%;
      height: 30px;
      background: #fefcfd;
      border-bottom: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
    }
    .order-box {
      width: 100%;
      height: 405px;
      padding: 30px;
      box-sizing: border-box;
      .order-image {
        width: 100%;
        height: 345px;
        border-radius: 10px;
      }
    }
  }
}
@import "~taro-ui/dist/style/components/icon.scss";
