.door-page {
  width: 100%;
  font-size: 24px;
  .door-page-content {
    width: 100%;
    padding-top: 80px;
    .page-title {
      height: 110px;
      display: flex;
      padding: 0 30px 30px;
      box-sizing: border-box;
      .title {
        width: 150px;
        height: 76px;
        line-height: 76px;
        text-align: center;
        position: relative;
        font-size: 28px;
        font-weight: 700;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          left: 0;
          bottom: -4px;
          background: #fff;
        }
        &.title-active {
          font-size: 36px;
          color: #e61717;
          &::after {
            background: #e61717;
          }
        }
      }
    }
    .content-wrapper {
      width: 100%;
      background: #f2f2f2;
      .door-table-box {
        width: 100%;
        .door-table-li {
          width: 100%;
          padding: 30px;
          margin-bottom: 30px;
          background: #fff;
          box-sizing: border-box;
          height: 650px;
          .door-li-title {
            display: flex;
            height: 40px;
            margin-bottom: 20px;
            .name {
              font-size: 32px;
              color: #333;
              font-weight: 700;
              height: 40px;
              line-height: 40px;
            }
            .type {
              font-size: 24px;
              font-weight: 500;
              height: 24px;
              height: 40px;
              line-height: 40px;
              margin-left: 20px;
              padding: 0 10px;
              background: #e93b3d;
              color: #fff;
              border-radius: 10px;
            }
          }
          .door-li-image {
            width: 690px;
            height: 345px;
          }
          .door-li-content {
            position: relative;
            margin-top: 20px;
            .li-content {
              width: 100%;
              display: flex;
              font-size: 24px;
              margin-bottom: 10px;
              color: #666;
              .label {
                width: 130px;
                height: 32px;
                line-height: 32px;
              }
              .name {
                height: 32px;
                width: 560px;
                line-height: 32px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .space-white {
    height: 30px;
    background: #fff;
    width: 100%;
  }
  .home__loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    .home__loading-txt {
      color: #000;
      font-size: 24px;
    }
  }
}
