.case-banner {
  width: 100%;
  padding: 20px 0;
  height: 640px;
  background: #fff;
  overflow: hidden;
  position: relative;
  .case-banner__swiper {
    width: 100%;
    height: 640px;
    .case-banner__swiper-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .swiper-item-box {
        width: 690px;
        height: 640px;
        .swiper-item-img {
          width: 690px;
          height: 340px;
          border-radius: 8px;
          overflow: hidden;
        }
        .name {
          font-weight: 700;
          font-size: 30px;
          color: #333;
          margin-bottom: 12px;
          margin-top: 12px;
        }
        .des {
          width: 100%;
          color: #666;
          font-size: 24px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          
        }
        .ad {
          color: #666;
          font-size: 26px;
          margin-bottom: 12px;
          .line {
            margin: 0 10px;
          }
        }
      }
      
    }
  }
}