.card-list-box {
    width: 100%;
    height: 100%;
    .card-list {
      width: 100%;
      height: 100%;
      position: relative;
      .card-list-image {
        width: 100%;
        height: 100%;
      }
      .card-list-item {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        &.card-list-flex {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .name-box {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 90px 24px 0;
          box-sizing: border-box;
          .name-image {
            width: 250px;
            height: 455px;
          }
          .name-content {
            .wedding-txt {
              display: block;
              margin: 0 auto;
              width: 334px;
              height: 116px;
            }
            .and-txt {
              display: block;
              margin: 0 auto;
              width: 178px;
              height: 66px;
            }
            .wedding-people {
              margin: 30px 0;
              font-size: 44px;
              height: 44px;
              line-height: 44px;
              text-align: center;
              .txt {
                font-size: 30px;
                margin-right: 10px;
              }
            }
            .huanying-text {
              font-size: 56px;
              text-align: center;
              &.huanying-text1 {
                margin-top: 30px;
                margin-bottom: 10px;
              }
            }
          }
        }
        .time-box {
          width: 502px;
          height: 205px;
          margin: 0 auto;
          position: relative;
          .time-jiantou-box {
            width: 502px;
            height: 205px;
            overflow: hidden;
            .time-jiantou {
              display: block;
              width: 502px;
              height: 95px;
              margin-top: 45px;
            }
          }
          .time-xin {
            width: 211px;
            height: 205px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -104px;
            margin-top: -102px;
            .time-xin-image {
              width: 211px;
              height: 205px;
              display: block;
            }
            .time-xin-txt {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              text-align: center;
              font-size: 48px;
              color: #fff;
              // font-family: 'Microsoft YaHei';
              line-height: 165px;
            }
          }
        }
        .time-text {
          font-size: 40px;
          line-height: 50px;
          margin: 40px auto;
          text-align: center;
          // font-family: 'Microsoft YaHei';
        }
        .time-tips {
          display: block;
          width: 391px;
          height: 99px;
          margin: 0 auto;
        }
        .list-item-content {
          width: 590px;
          height: 900px;
          background: rgba(0,0,0,0);
          box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.2);
          position: relative;
          .content-box {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 0;
            box-sizing: border-box;
            &.content-box-other {
              padding: 20px 0;
            }
            &.content-box-five {
              padding: 10px 0;
            }
            .zhaopian-box {
              width: 440px;
              height: 302px;
              background: #fff;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              align-items: center;
              .zhaopian-image {
                width: 400px;
                height: 262px;
                display: block;
              }
            }
            .people-name-box {
              width: 430px;
              height: 222px;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 48px;
              .people-name-image {
                width: 430px;
                height: 222px;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
              }
              .people-name-des {
                width: 320px;
                height: 60px;
                font-size: 48px;
                line-height: 60px;
              }
            }
            .zhufu-content {
              display: flex;
              flex-direction: column;
              align-items: center;
              .zhufu-title {
                display: block;
                width: 423px;
                height: 49px;  
                margin-bottom: 32px;              
              }
              .zhufu-des {
                width: 365px;
                text-align: center;
              }
            }
            .hezhao-box {
              width: 488px;
              height: 332px;
              background: #fff;
              box-sizing: border-box;
              overflow: hidden;
              .hezhao-image {
                display: block;
                width: 448px;
                height: 292px;
                margin: 20px;
              }
            }
            .hezhao-des {
              width: 470px;
              margin: 20px 0;
              font-size: 30px;
              line-height: 50px;
            }
            .hezhao-other {
              width: 488px;
              display: flex;
              justify-content: space-between;
              box-sizing: border-box;
              .hezhao-other-left {
                width: 230px;
                height: 350px;
                padding: 10px;
                background: #fff;
                .hezhao-left {
                  display: block;
                  width: 230px;
                  height: 350px;
                }
              }
              .hezhao-other-right {
                width: 228px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .hezhao-right-box {
                  width: 208px;
                  height: 201px;
                  padding: 10px;
                  background: #fff;
                  .hezhao-right {
                    display: block;
                    width: 208px;
                    height: 201px;
                  }
                }
                .hezhao-right-icon {
                  display: block;
                  width: 162px;
                  height: 169px;
                }
              }
            }
            .hezhao-four-box {
              width: 488px;
              height: 662px;
              background: #fff;
              box-sizing: border-box;
              overflow: hidden;
              .hezhao-four-image {
                display: block;
                width: 448px;
                height: 622px;
                margin: 20px;
              }
            }
            .four-end-image {
              display: block;
              width: 392px;
              height: 224px;
              margin: 0 auto;
            }
          }
          .second-right-icon {
            width: 372px;
            height: 345px;
            position: absolute;
            right: -30px;
            top: -60px;
            z-index: 2;
          }
          .second-left-icon {
            width: 282px;
            height: 406px;
            position: absolute;
            left: -60px;
            bottom: -60px;
            z-index: 2;
          }
        }
        .five-content-box {
          margin-top: 34px;
          .five-content-text {
            font-size: 32px;
            text-align: center;
            margin-bottom: 24px;
          }
        }
        .address-image {
          width: 465px;
          height: 287px;
          display: block;
          margin: 0 auto;
          overflow: hidden;
        }
      }
      .first-bottom-image {
        width: 750px;
        height: 354px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .second-top-bg {
        width: 750px;
        height: 235px;
        position: absolute;
        top: 0;
        left: 0;
      }
      .second-bottom-bg {
        width: 750px;
        height: 235px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  .my-audio {
    width: 0;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .audio-icon {
    width: 63px;
    height: 63px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 99;
  }