.product-page {
  width: 100%;
  font-size: 24px;
  .page-content {
    width: 100%;
    padding-top: 80px;
    .page-title {
      height: 110px;
      display: flex;
      padding: 0 30px 30px;
      box-sizing: border-box;
      .title {
        width: 150px;
        height: 76px;
        line-height: 76px;
        text-align: center;
        position: relative;
        font-size: 28px;
        font-weight: 700;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          left: 0;
          bottom: -4px;
          background: #fff;
        }
        &.title-active {
          font-size: 38px;
          color: #e61717;
          &::after {
            background: #e61717;
          }
        }
      }
    }
    .content-wrapper {
      width: 100%;
      background: #f1f1f1;
      .table-box {
        width: 100%;
        .table-li {
          width: 100%;
          padding: 30px;
          margin-bottom: 30px;
          background: #fff;
          box-sizing: border-box;
          .li-image {
            width: 100%;
            height: 345px;
          }
          .li-content {
            position: relative;
            margin-top: 20px;
          }
          .name {
            font-size: 28px;
            color: #000;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 20px;
          }
          .price {
            display: flex;
            height: 28px;
            margin-bottom: 10px;
            .discount {
              color: #e61717;
              height: 28px;
              font-size: 24px;
              line-height: 28px;
              margin-right: 16px;
              .price-txt {
                font-size: 28px;
              }
            }
            .old {
              font-size: 24px;
              height: 28px;
              line-height: 28px;
              color: #999;
              text-decoration: line-through;
            }
          }
          .lable {
            font-size: 24px;
            color: #333;
            margin-bottom: 16px;
            height: 36px;
            display: flex;
            .lable-name {
              height: 36px;
              padding: 0 10px;
              border: 1px solid #fef0f0;
              color: #f56c6c;
              background: #fde2e2;
              line-height: 36px;
              box-sizing: border-box;
              border-radius: 6px;
              margin-right: 10px;
            }
            .lable-new {
              border: 1px solid #f0f9eb;
              color: #67c23a;
              background: #f0f9eb;
            }
          }
          .des {
            width: 100%;
            color: #999;
            font-size: 22px;
            line-height: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .space-white {
    height: 30px;
    background: #fff;
    width: 100%;
  }
  .home__loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    .home__loading-txt {
      color: #000;
      font-size: 24px;
    }
  }
}