.hoteldetail-page {
  .header {
    padding: 20px 30px 30px;
    border-bottom: 1px solid #f6f6f6;

    .name-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      .name {
        font-size: 32px;
        color: #000;
        font-weight: 700;
      }

      .price {
        font-size: 26px;
        color: #fc4747;
        font-weight: 700;
      }
    }

    .info {
      font-size: 26px;
      color: #333;
      margin-bottom: 16px;
      .info-line {
        margin: 0 10px;
      }
    }

    .label {
      font-size: 24px;
      color: #666;

      .label-txt {
        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .white-space {
    height: 40px;
    background: #f6f6f6;
  }
  .hotel-content {
    .content-title {
      display: flex;
      margin-bottom: 20px;
      .title {
        flex: 1;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        .text {
          height: 80px;
          line-height: 80px;
          font-size: 28px;
          color: #000;
          position: relative;
          padding: 0 10px;
        }
        &.title-active {
          .text {
            color: #fc4747;
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              left: 0;
              bottom: 0;
              background: #fc4747
            }
          }
        }
      }
    }

    .content-ul {
      .content-li {
        padding: 30px 0;
      }
      .titleimage {
        width: 100%;
        height: 340px;
        padding: 0 30px;
        box-sizing: border-box;
      }
      .hotel-des {
        margin-left: 30px;
        padding: 0 30px 30px 0;
        border-bottom: 1px solid #f6f6f6;
        .des-title {
          font-size: 30px;
          color: #333;
          margin: 16px 0;
        }

        .des-content {
          font-size: 24px;
          line-height: 30px;
          color: #666;
        }
      }

      .hotel-address {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #f6f6f6;
        height: 80px;
        margin-left: 30px;
        padding-right: 30px;
        .icon {
          width: 32px;
          height: 32px;
        }

        .text {
          flex: 1;
          margin: 0 10px;
          height: 80px;
          line-height: 80px;
          font-size: 26px;
          color: #333;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .hotel-traffic {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #f6f6f6;
        margin-left: 30px;
        padding: 16px 30px 16px 0;
        .icon {
          width: 32px;
          height: 32px;
        }
        .text {
          flex: 1;
          margin: 0 10px;
          line-height: 30px;
          font-size: 26px;
          color: #333;
          margin-left: 16px;
        }
      }

      .hall-box {
        padding: 30px 30px;
        .hall-item {
          width: 100%;
          margin-bottom: 30px;
          .hall-image {
            width: 100%;
            height: 432px;
            position: relative;
            .image {
              width: 100%;
              height: 432px;
            }
            .num {
              position: absolute;
              left: 0;
              bottom: 40px;
              height: 60px;
              padding: 0 20px;
              line-height: 60px;
              background: rgba(0,0,0,0.5);
              color: #fff;
              font-size: 24px;
              width: 130px;
            }
            .prev-tips {
              width: 130px;
              position: absolute;
              left: 0;
              bottom: 110px;
              height: 60px;
              padding: 0 20px;
              line-height: 60px;
              background: rgba(0, 0, 0, 0.5);
              color: #fff;
              font-size: 24px;
            }
          }
          .hall-name {
            margin-top: 10px;
            font-size: 30px;
            color: #333;
          }
          .hall-info {
            font-size: 24px;
            color: #999;
            .txt {
              margin-right: 20px;
            }
          }
        }
      }

      .menu-box {
        padding-bottom: 30px;
        .menu-item {
          .menu-item-title {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 30px 0 0;
            height: 160px;
            margin-left: 30px;
            border-bottom: 1px solid #f6f6f6;
            position: relative;
            .menu-image {
              width: 100px;
              height: 100px;
              border-radius: 50%;
            }
            .menu-info {
              flex: 1;
              height: 160px;
              margin-left: 30px;
              .name {
                font-size: 28px;
                color: #333;
                font-weight: 700;
                height: 28px;
                line-height: 28px;
                margin-bottom: 18px;
                margin-top: 45px;
              }
              .pice {
                font-size: 24px;
                height: 24px;
                line-height: 24px;
                .discount {
                  color: #333;
                  margin-right: 16px;
                }
                .old {
                  color: #999;
                  text-decoration: line-through;
                }
              }
            }
            .right-arrow {
              display: block;
              position: absolute;
              width: 32px;
              height: 32px;
              top: 50%;
              transform: translateY(-50%) rotate(0);
              right: 60px;
              &.right-arrow-acitve {
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }
          .menu-item-content {
            padding: 20px 30px;
            display: flex;
            flex-wrap: wrap;
            background: #f6f6f6;
            .menu-name {
              width: 210px;
              margin-bottom: 20px;
              color: #fc4747;
              font-size: 24px;
              line-height: 58px;
              height: 60px;
              margin-right: 20px;
              text-align: center;
              box-sizing: border-box;
              border-radius: 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              background: #fff;
            }
          }
        }
      }
    }
  }
}
