@import "../../custom-style/color";

.me-page {
  width: 100%;
  background: #f1f1f1;
  .admin-head {
    width: 100%;
    height: 180px;
    display: flex;
    padding: 20px 30px;
    box-sizing: border-box;
    background: $color-bg;
    .admin-txt {
      line-height: 140px;
      font-size: 30px;
      color: #fff;
    }
    .admin-image {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background: #fff;
      margin-right: 20px;
      .user-image {
        width: 140px;
        height: 140px;
      }
    }
    .admin-content {
      flex: 1;
      height: 140px;
      font-size: 28px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      .name {

      }
      .phone {

      }
    }
  }
  .content-wrapper {
    width: 100%;
    .table-list-box {
      padding: 0 30px;
      background: #fff;
      height: 200px;
      display: flex;
      .table-list {
        flex: 1;
        height: 200px;
        text-align: center;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        border-right: 1px solid #f5f5f5;
        .list-image {
          width: 56px;
          height: 56px;
          display: block;
          margin: 0 auto 10px;
        }
        .count {}
        .name {}
        &:last-child {
          border-right: none;
        }
      }
    }
    .table-ul {
      margin-top: 30px;
      padding: 0 30px;
      background: #fff;
      .table-li {
        border-bottom: 1px solid #f2f2f2;
        height: 80px;
        background: #fff;
        display: flex;
        align-items: center;
        .table-li-left {
          flex: 1;
          height: 80px;
          line-height: 80px;
          font-size: 24px;
          padding-left: 20px;
        }
        .table-li-icon {
          width: 32px;
          height: 32px;
        }
      }
    }
    .back-btn {
      margin-top: 100px;
      width: 100%;
      height: 80px;
      line-height: 80px;
      text-align: center;
      font-size: 24px;
      background: #fff;
    }
  }
}
