.productdetail-page {
  position: relative;
  .header {
    padding: 20px 30px 30px;
    border-bottom: 1px solid #f6f6f6;
    .label-name {
      color: #333;
      height: 36px;
      display: flex;
      margin-bottom: 16px;
      align-items: center;
      .name {
        font-size: 28px;
        color: #000;
        font-weight: 700;
        height: 36px;
        line-height: 36px;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .label {
        margin-left: 10px;
        font-size: 16px;
        height: 22px;
        padding: 0 8px;
        border: 1px solid #fef0f0;
        color: #f56c6c;
        background: #fde2e2;
        line-height: 22px;
        box-sizing: border-box;
        border-radius: 6px;
        margin-right: 10px;
      }
    }
    .price {
      display: flex;
      height: 28px;
      margin-bottom: 16px;
      .discount {
        color: #e61717;
        height: 28px;
        font-size: 24px;
        line-height: 28px;
        margin-right: 16px;

        .price-txt {
          font-size: 28px;
        }
      }

      .old {
        font-size: 24px;
        height: 28px;
        line-height: 28px;
        color: #999;
        text-decoration: line-through;
      }
    }
    .type {
      font-size: 24px;
      color: #333;
      margin-bottom: 16px;
      height: 36px;
      display: flex;
      .type-name {
        height: 36px;
        padding: 0 10px;
        border: 1px solid #fef0f0;
        color: #f56c6c;
        background: #fde2e2;
        line-height: 36px;
        box-sizing: border-box;
        border-radius: 6px;
        margin-right: 10px;
      }
    }
    .des {
      font-size: 24px;
      color: #666;
      text-indent: 24px;
      line-height: 30px;
    }
  }
  .white-space {
    height: 40px;
    background: #f6f6f6;
  }
  .flow-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 20px 0;
    .icon {
      width: 10px;
      height: 10px;
      background: #333;
      transform: rotate(45deg)
    }

    .title {
      line-height: 80px;
      height: 80px;
      font-size: 30px;
      color: #333;
      padding: 0 20px;
      font-weight: 700;
    }
  }
  .design-box {
    .design-content {
      display: flex;
      padding: 0 30px 30px;
      .design-image {
        width: 160px;
        height: 160px;
        margin-right: 20px;
        .image {
          width: 160px;
          height: 160px;
        }
      }
      .design-info {
        .name {
          font-size: 26px;
          color: #333;
          font-weight: 600;
        }
        .label {
          font-size: 24px;
          color: #fc4747;
        }
        .des {
          font-size: 24px;
          color: #999;
        }
      }
    }
  }
  .video-box {
    padding-bottom: 20px;
    .video-infos {
      width: 750px;
      .video-info {
        width: 970px;
        height: 260px;
        padding: 0 30px;
        &::after {
          content: '';
          clear: both;
          display: block;
          width: 0;
          height: 0;
        }
        .video-item {
          float: left;
          width: 310px;
          height: 260px;
          margin-right: 20px;
          box-sizing: border-box;
          &.video-item-last {
            margin-right: 0;
          }
          .video-image {
            width: 310px;
            height: 180px;
            .v-image {
              width: 310px;
              height: 180px;
            }
          }
          .video-text {
            text-align: center;
            height: 30px;
            line-height: 30px;
            font-size: 28px;
            color: #333;
            margin-top: 25px;
          }
        }
      }
    }
  }
  .product-content {
    .content-title {
      display: flex;
      margin-bottom: 30px;
      .title {
        flex: 1;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        .text {
          height: 80px;
          line-height: 80px;
          font-size: 28px;
          color: #000;
          position: relative;
          padding: 0 10px;
          .tips {
            font-size: 22px;
            color: #fc4747;
          }
        }
        &.title-active {
          .text {
            color: #fc4747;
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              left: 0;
              bottom: 0;
              background: #fc4747
            }
          }
        }
      }
    }
    .summary-box {
      padding: 0 30px;
      .summary-image {
        margin-bottom: 20px;
        width: 100%;
        height: 345px;
        .image {
          width: 100%;
          height: 345px;
        }
      }
    }
    .photos-box {
      .photo-title {
        padding: 0 30px;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 30px;
        color: #000;
      }
      .photo-ul {
        padding: 0 30px;
        margin-bottom: 30px;
        .photo-li {
           width: 100%;
           height: 345px;
           margin-bottom: 20px;
          .photo-li-image {
            width: 100%;
            height: 345px;
          }
        }
      }
    }
    .param-box {
      .param-ul {
        padding: 0 30px;
        margin-bottom: 30px;
      }
      .param-title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 30px;
        color: #000;
      }
      .param-image {
        width: 100%;
        height: 345px;
        margin-bottom: 20px;
        .image {
          width: 100%;
          height: 345px;
        }
      }
      .param-des-box {
        font-size: 24px;
        color: #666;
        .param-des {
          line-height: 40px;
        }
      }
    }
  }
  .video-play-box {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    .video-play-width {
      background: #fff;
      position: relative;
      padding: 30px 30px 80px;
      .video-play-title {
        height: 40px;
        font-size: 28px;
        text-align: center;
        line-height: 40px;
        font-weight: 600;
        color: #333;
        margin-bottom: 30px;
      }
      .video-play {
        width: 690px;
        height: 340px;
        position: relative;
        z-index: 2;
        display: block;
        border-radius: 20px;
      }
      .video-icon {
        width: 64px;
        height: 64px;
        display: block;
        position: absolute;
        top: -100px;
        left: 50%;
        margin-left: -32px;
      }
    }

  }
}
