.page-header {
  width: 100%;
  height: 80px;
  padding: 0 30px;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  box-sizing: border-box;
  z-index: 99;
  .page-header-left {
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 28px;
  }
  .ad-icon {
    width: 32px;
    height: 32px;
    margin-right: 3px;
    display: block;
  }
  .ad-name {
    margin-left: 10px;
    color: rgb(230, 23, 23);
  }
}