.productdetail-banner {
  width: 100%;
  height: 345px;
  background: #fff;
  overflow: hidden;
  .productdetail-banner__swiper {
    height: 345px;
    .productdetail-banner__swiper-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      .productdetail-banner__swiper-item-img {
        width: 100%;
        height: 345px;
        overflow: hidden;
      }
    }
  }
}