.casedetail-page {
  .top-banner {
    width: 100%;
    height: 375px;
    .banner-image {
      width: 100%;
      height: 375px;
    }
  }
  .header {
    padding: 20px 30px 30px;
    .label-name {
      color: #333;
      height: 36px;
      display: flex;
      margin-bottom: 8px;
      align-items: center;
      .name {
        font-size: 28px;
        color: #000;
        font-weight: 700;
        height: 36px;
        line-height: 36px;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .label {
        margin-left: 10px;
        font-size: 16px;
        height: 22px;
        padding: 0 8px;
        border: 1px solid #fef0f0;
        color: #f56c6c;
        background: #fde2e2;
        line-height: 22px;
        box-sizing: border-box;
        border-radius: 6px;
        margin-right: 10px;
      }
    }
    .info {
      font-size: 26px;
      color: #333;
      .info-line {
        margin: 0 10px;
      }
    }
    .time {
      font-size: 24px;
      line-height: 30px;
      color: #666;
      margin: 8px 0;
    }
    .des {
      font-size: 24px;
      line-height: 30px;
      color: #999;
      text-indent: 24px;
    }
  }
  .video-box {
    padding: 0 30px;
    height: 340px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 20px;
    .case-video {
      width: 690px;
      height: 340px;
      margin: 0 auto;
      border-radius: 20px;
    }
  }
  .white-space {
    height: 40px;
    background: #f6f6f6;
  }
  .case-images {
    padding: 30px;
    .case-image-item {
      width: 100%;
      height: 345px;
      margin-bottom: 20px;
      border-radius: 10px;
      .case-image {
        width: 100%;
        height: 345px;
        border-radius: 10px;
      }
    }
  }
}
