@import "../../custom-style/color";
.cardetail-page {
  .header {
    padding: 20px 30px 30px;
    border-bottom: 1px solid #f6f6f6;
    position: relative;
    .name {
      font-size: 32px;
      color: #000;
      font-weight: 700;
      height: 32px;
      line-height: 32px;
      margin-top: 16px;
    }
    .type-box {
      margin-top: 20px;
      .type-item {
        height: 42px;
        margin-bottom: 8px;
        display: flex;
        font-size: 24px;
        line-height: 42px;
        color: #666;

        .type-item-li {
          width: 160px;
          height: 42px;
          line-height: 40px;
          text-align: center;
          font-size: 24px;
          margin-right: 20px;
          border: 1px solid $color-bg;
          box-sizing: border-box;
          color: $color-bg;
          background: #fff;
          border-radius: 10px;
          &.type-item-active {
            background: $color-bg;
            color: #fff;
          }
        }
      }

      .type-time {
        margin-bottom: 0px;
      }
    }
    .price {
      line-height: 30px;
      height: 30px;
      margin-top: 20px;
      .price-name {
        font-size: 24px;
        color: #666;
      }
      .discount {
        font-size: 30px;
        color: $color-bg;
        font-weight: 700;
        margin-right: 16px;
      }

      .old {
        font-size: 24px;
        color: #999;
        text-decoration: line-through;
      }
    }

    .info {
      width: 100%;
      font-size: 24px;
      color: #666;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 20px;
      height: 24px;
      line-height: 24px;
      .info-line {
        margin: 0 10px;
      }
    }
    .introduce {
      margin-top: 20px;
      font-size: 24px;
      color: #666;
      line-height: 30px;
    }

  }

  .white-space {
    height: 40px;
    background: #f6f6f6;
  }

  .flow-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 20px 0;
    .icon {
      width: 10px;
      height: 10px;
      background: #333;
      transform: rotate(45deg)
    }
    .title {
      line-height: 80px;
      height: 80px;
      font-size: 30px;
      color: #333;
      padding: 0 20px;
      font-weight: 700;
    }
  }

  .flow-content {
    .flow-steps {
      display: flex;
      padding: 10px 0 30px;
      .flow-step {
        flex: 1;
        text-align: center;
        .step-icon {
          width: 32px;
          height: 32px;
        }
        .step-name {
          font-size: 24px;
        }
      }
    }
  }
  .car-photo {
    padding: 30px 0;
    .photo-box {
      width: 100%;
      .photo-first {
        width: 100%;
        height: 420px;
        margin-bottom: 20px;
        .first-image {
          width: 100%;
          height: 420px;
        }
      }
      .photo-items {
        display: flex;
        flex-wrap: wrap;
        .photo-item {
          width: 365px;
          height: 208px;
          margin-right: 20px;
          margin-bottom: 20px;
          .item-image {
            width: 365px;
            height: 208px;
          }
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
