.hoteldetail-banner {
  width: 100%;
  height: 480px;
  background: #fff;
  overflow: hidden;
  .hoteldetail-banner__swiper {
    height: 480px;
    .hoteldetail-banner__swiper-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      .hoteldetail-banner__swiper-item-img {
        width: 100%;
        height: 480px;
        overflow: hidden;
      }
      .label {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        background: #fff;
      }
    }
  }
}